/*Header Links Begin*/
.links {
    background-color:darkcyan;
    display:grid;
    gap:0;
    color:antiquewhite;
    padding-top:10px;
    padding-bottom:10px;
}
a {
    color:antiquewhite;
}
.link1 {
    grid-column-start:1,2,3,4,5;
    padding-left:10px;
}
.link2 {
    grid-column-start:6;
    padding-left:20%;
}
.link3 {
    grid-column-start:7;
    padding-left:20%;
}
.link4 {
    grid-column-start:8;
    padding-left:20%;
}
.link5 {
    grid-column-start:9;
    padding-left:20%;
}
.link2:hover {
    background-color:rgb(15, 155, 155);
}
.link3:hover {
    background-color:rgb(15, 155, 155);
}
.link4:hover {
    background-color:rgb(15, 155, 155);
}
.link5:hover {
    background-color:rgb(15, 155, 155);
}
/*Header Links End*/

body {
    background-color: black;
}
.text {
    color:antiquewhite;
    
}
.cat {
    width:100%;
}

.img2,.img3,.img4 {
    width:200px;
}
.sec1,.sec2,.sec3,.sec4,.sec5,.sec6 {
    padding-left: 20%;
    padding-right: 20%;
    border-style:groove;
    border-color:rgb(0, 0, 0);
    background-color: black;
    border-width:1px;
    padding-top: 10px;
    padding-bottom:10px;
    color:antiquewhite;
}
h1 {
    color:rgb(15, 155, 155);
}
.submit {
    color:antiquewhite;
}